.orders {
  padding: 20px 80px;
  padding: 40px;

  position: relative;
  text-align: center;
}

.orders__payment {
  border: 1px solid lightgray;
  background-color: white;
}

.orders__order {
  border: 1px solid lightgray;
  background-color: white;
  margin-top: 20px;
}

.order__total {
  position: absolute;
  top: 40px;
  right: 20px;
  border: 1px solid lightgray;
  background-color: white;
}
.order__totals {
  font-weight: 500;
  text-align: right;
}

/* .orders__payment {
  background-color: white;
  text-align: center;
  padding: 5px;
} */

/* .orders > h1,
.orders__products {
  background-color: white;
  text-align: center;
  padding: 5px;
  margin-top: 30px;
  
} */
